/* ----------------------------
　全体
-------------------------------*/
input {
    font-family: inherit;
    color: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  body {
    color: #333333;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
 Osaka, "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", sans-serif;
    color: #404040;
    background: white;
    width: 1000px;
    margin: 0 auto;
  }

/* ----------------------------
　ヘッダ
-------------------------------*/


#header {
    width: 100%;
    background:white;
    height: 20%;

}

#header .logo{
    background: #117092;
    width:30px;
}


/* ----------------------------
　メイン
-------------------------------*/


#main {
    width: 100%;
    background-color: white;
    height: 60%;
}

#main .container{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    background-color: whitesmoke;


}
#main .container img{
    margin:10px ;
    background-color: #ACC;
    width: 550px;
    border-radius: 5px;
}
#main .container .login-form{
    width: 400px;
    margin:20px ;
    background-color: #ECC;
}

#main .container .login-form .login-title {
    margin: 10px;
    padding: 15px 25px;
    line-height: 35px;
    font-size: 26px;
    font-weight: 300;
    color: #aaa;
    text-align: center;
    text-shadow: 0 1px rgba(255, 255, 255, 0.75);
    background: #f7f7f7;
  }

  #main .container .login-form  .sign-up-title:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 8px;
    background: #c4e17f;
    border-radius: 5px 5px 0 0;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  }

#main .container .login-form .login-input{
    width: 95%;
    height: 50px;
    margin: 0px 10px 25px 10px;
    padding: 0 15px 2px;
    font-size: 17px;
    background: white;
    border: 2px solid #ebebeb;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 -2px #ebebeb;
    box-shadow: inset 0 -2px #ebebeb;
}

#main .container .login-form .login-button{
    position: relative;
    width: 100%;
    height: 54px;
    padding: 0;
    font-size: 22px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #f0776c;
    border: 0;
    border-bottom: 2px solid #d76b60;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 -2px #d76b60;
    box-shadow: inset 0 -2px #d76b60;
}

/* ----------------------------
　フッタ
-------------------------------*/
#footer {
    width: 100%;
    height: 20%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

#footer .inner{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;

    text-align: center;
    vertical-align: center;
}


#footer .inner .rights {
    margin: 10px auto 10px;
    padding: 8px;
    width: 400px;
    height: 30px;
    text-align: center;
    text-shadow: 0 1px rgba(255, 255, 255, 0.25);
    border-radius: 4px;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 6px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 6px rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}

#footer .inner .rights .icon{

    margin: 5px auto 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer .inner .rights .icon img{
    width: 30px;
}